body {
    background-color: #151515;
    font-family: Arial, sans-serif;
    color: #EEEEEE;
}

svg{
    color: #EEEEEE;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #a91d3975;
    margin: 1em 0;
    padding: 0;
}

b.red{
    color:#C73659;
}

.hr-to-edges{
    margin-left: 0;
    margin-right: 0;
}

.progress-bar-red {
    background-color: #C73659 !important;
}

.navbar-dark {
    background-color: #151515 !important;
}

.card {
    background-color: #151515 !important;
    border-color: #a91d3975;
}


.dark-background {
    background-color: #151515 !important;
}


.text-toogle[aria-expanded=false] .text-expanded {
    display: none;
}

.text-toogle[aria-expanded=true] .text-collapsed {
    display: none;
  }