body {
    background-color: #151515;
    font-family: Arial, sans-serif;
    color: #EEEEEE;
}

svg{
    color: #EEEEEE;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #A91D3A;
    margin: 1em 0;
    padding: 0;
}

.progress-bar-red {
    background-color: #C73659 !important;
}

.navbar-dark {
    background-color: #151515 !important;
}

.card {
    background-color: #151515 !important;
    border-color: #A91D3A;
}


.dark-background {
    background-color: #151515 !important;
}